<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugBehavior"></behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DebugEndPointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" sendTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/EmpruntFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.EmpruntIFAC" name="EndPointLocation"/>
      <endpoint address="net.tcp://localhost:8081/ClientFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.ClientIFAC" name="EndPointClient"/>
      <endpoint address="net.tcp://localhost:8081/PersonneFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.PersonneIFAC" name="EndPointPersonne"/>
      <endpoint address="net.tcp://localhost:8081/RefLivreFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.RefLivreIFAC" name="EndPointRefLivre" />
      <endpoint address="net.tcp://localhost:8081/LivreFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.LivreIFAC" name="EndPointLivre" />
      <endpoint address="net.tcp://localhost:8081/LivreStatusFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.LivreStatusIFAC" name="EndPointLivreStatus" />
      <endpoint address="net.tcp://localhost:8081/BibliothequeFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.BibliothequeIFAC" name="EndPointBibliotheque" />
      <endpoint address="net.tcp://localhost:8081/SessionManagerFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.SessionManagerIFAC" name="EndPointSessionManager" />
      <endpoint address="net.tcp://localhost:8081/AdministrateurFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.AdministrateurIFAC" name="EndPointAdministrateur" />
      <endpoint address="net.tcp://localhost:8081/DemandeAnnulationFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.DemandeAnnulationIFAC" name="EndPointDemandeAnnulation" />
      <endpoint address="net.tcp://localhost:8081/DemandeReservationFAC" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="WCF.Proxies.DemandeReservationIFAC" name="EndPointDemandeReservation" />
    </client>
  </system.serviceModel>
</configuration>  