<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debugSBehavior"></behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" sendTimeout="00:10:00" transferMode="StreamedResponse">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/EmpruntFAC" binding="netTcpBinding" 
                contract="WCF.Proxies.EmpruntIFAC" name="EndPointLocation"/>
      <endpoint address="net.tcp://localhost:8081/ClientFAC" binding="netTcpBinding"
                contract="WCF.Proxies.ClientIFAC" name="EndPointClient"/>
      <endpoint address="net.tcp://localhost:8081/PersonneFAC" binding="netTcpBinding"
                contract="WCF.Proxies.PersonneIFAC" name="EndPointPersonne"/>
      <endpoint address="net.tcp://localhost:8081/RefLivreFAC" binding="netTcpBinding"
                contract="WCF.Proxies.RefLivreIFAC" name="EndPointRefLivre" />
      <endpoint address="net.tcp://localhost:8081/LivreFAC" binding="netTcpBinding"
                contract="WCF.Proxies.LivreIFAC" name="EndPointLivre" />
      <endpoint address="net.tcp://localhost:8081/LivreStatusFAC" binding="netTcpBinding"
                contract="WCF.Proxies.LivreStatusIFAC" name="EndPointLivreStatus" />
      <endpoint address="net.tcp://localhost:8081/BibliothequeFAC" binding="netTcpBinding"
                contract="WCF.Proxies.BibliothequeIFAC" />
      <endpoint address="net.tcp://localhost:8081/SessionManagerFAC" binding="netTcpBinding"
                contract="WCF.Proxies.SessionManagerIFAC" />
      <endpoint address="net.tcp://localhost:8081/AdministrateurFAC" binding="netTcpBinding"
                contract="WCF.Proxies.AdministrateurIFAC" />
      <endpoint address="net.tcp://localhost:8081/DemandeAnnulationFAC" binding="netTcpBinding"
                contract="WCF.Proxies.DemandeAnnulationIFAC" />
      <endpoint address="net.tcp://localhost:8081/DemandeReservation" binding="netTcpBinding"
                contract="WCF.Proxies.DemandeReservationIFAC" />
    </client>
  </system.serviceModel>
</configuration>  