<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AmazonAccessKeyId" value="AKIAJ7I56C2ZEX2KYJJQ"/>
    <add key="AmazonSecretKey" value="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"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=(local);Initial Catalog=EphecSample;User ID=sa;Password=lsqsecof;MultipleActiveResultSets=True;Connect Timeout=10;Max Pool Size=4000"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugBehavior"></behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" sendTimeout="00:10:00" transferMode="StreamedResponse">
          <security mode="Transport">
            <transport protectionLevel="None" clientCredentialType="Windows"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.ClientFAC">
        <endpoint address="net.tcp://localhost:8081/ClientFAC" binding="netTcpBinding"
          contract="WebsIFAC.ClientIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.EmpruntFAC">
        <endpoint address="net.tcp://localhost:8081/EmpruntFAC" binding="netTcpBinding"
          contract="WebsIFAC.EmpruntIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.PersonneFAC">
        <endpoint address="net.tcp://localhost:8081/PersonneFAC" binding="netTcpBinding"
          contract="WebsIFAC.PersonneIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.RefLivreFAC">
        <endpoint address="net.tcp://localhost:8081/RefLivreFAC" binding="netTcpBinding"
          contract="WebsIFAC.RefLivreIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.LivreFAC">
        <endpoint address="net.tcp://localhost:8081/LivreFAC" binding="netTcpBinding"
          contract="WebsIFAC.LivreIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.LivreStatusFAC">
        <endpoint address="net.tcp://localhost:8081/LivreStatusFAC" binding="netTcpBinding"
          contract="WebsIFAC.LivreStatusIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.BibliothequeFAC">
        <endpoint address="net.tcp://localhost:8081/BibliothequeFAC"
          binding="netTcpBinding" contract="WebsIFAC.BibliothequeIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.SessionManagerFAC">
        <endpoint address="net.tcp://localhost:8081/SessionManagerFAC" binding="netTcpBinding"
          contract="WebsIFAC.SessionManagerIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.AdministrateurFAC">
        <endpoint address="net.tcp://localhost:8081/AdministrateurFAC"
          binding="netTcpBinding" contract="WebsIFAC.AdministrateurIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.DemandeAnnulationFAC">
        <endpoint address="net.tcp://localhost:8081/DemandeAnnulationFAC"
          binding="netTcpBinding" contract="WebsIFAC.DemandeAnnulationIFAC" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="WebsFAC.DemandeReservationFAC">
        <endpoint address="net.tcp://localhost:8081/DemandeReservationFAC"
          binding="netTcpBinding" contract="WebsIFAC.DemandeReservationIFAC" />
      </service>
    </services>
  </system.serviceModel>
</configuration>